# API server port
PORT=3999

# Option to enable playground (if true playground will be available at /graphql route)
PLAYGROUND_ENABLE=false

## Hawk Catcher token from hawk.so
HAWK_CATCHER_TOKEN=

# MongoDB URL for connecting to accounting database
# for running via mono repository
MONGO_ACCOUNTING_DATABASE_URI=mongodb://mongodb:27017/codex_accounting
# for running as standalone
# MONGO_ACCOUNTING_DATABASE_URI=mongodb://localhost:27017/codex_accounting

# Accounting Cashbook account identifier
CASHBOOK_ACCOUNT_ID=b0dbe2f4-246a-4dfc-8b6d-cdfe1f0171f6
CASHBOOK_ACCOUNT_NAME="Hawk Cashbook account"

# Accounting Revenue account identifier
REVENUE_ACCOUNT_ID=61988880-d52d-441b-9655-ac7e35cf06f1
REVENUE_ACCOUNT_NAME="Hawk Revenue account"
